.vscode/
.mypy_cache
web-scraping-env
.pre-commit-config.yaml
*.json
.history/
*.vsix
*.rar
*.csv
.ipynb_checkpoints/
output/
web/
apache-spark/raw-data/
beamenv
engenv
__pycache__
*.pid
*.cfg
*.db
*.log
docker/airflow/logs/
raw_code/env
casestudy/env/casestudy-env

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!apache-beam/raw-data/sample_casos_dengue.txt
!apache-beam/raw-data/sample_chuvas.csv
!apache-beam/processed-data/result-00000-of-00001.csv
